/* Estilo body - modo claro */
body {
    background-color: #f5f5f5;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo botón - modo claro */
.btn-outline-dark {
    border-color: #333333;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;

}

/* Estilo botón hover - modo claro */
.btn-outline-dark:hover {
    background-color: #333333;
    color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Estilo body - modo oscuro */
.modo-oscuro {
    background-color: #333333;
    color: #f5f5f5;
}

/* Estilo botón - modo oscuro */
.modo-oscuro .btn-outline-dark {
    border-color: #f5f5f5;
    color: #f5f5f5;
}

/* Estilo botón hover - modo oscuro */
.modo-oscuro .btn-outline-dark:hover {
    background-color: #f5f5f5;
    color: #333333;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
}

/* Estilo alerta */
.alert {
    animation: fadeIn 0.5s ease-in-out;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}